mediapipe ~= 0.10.8
pandas ~= 2.1
protobuf ~= 3.20
pytransform3d ~=3.5
# open3d ~=0.17
moviepy ~= 1.0.3
librosa ~=0.10.1
moviepy ~=1.0.3
pydub ~=0.25.1
psutil~=5.9
dataclasses-json~=0.6.2
tqdm >= 4.65.0